@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Medium'), local('PlayfairDisplay-Medium'),
		url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/Raleway-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}