/* Reset */
*,
*::before,
*::after {padding: 0; margin: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
ul, ol, li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
html, body {line-height: 1; overflow-x: hidden;}
textarea, button, input, select {font-family: inherit; font-weight: inherit; font-size: inherit; color: inherit; outline: none;}
button {cursor: pointer; background-color: inherit;}

/* Variables */
:root {
	--body-bgcolor: #1B8184;
	--opacity-bg: rgba(255, 255, 255, 0.1);

	--white-color: #FFFFFF;
	--light-color: #E8E8E8;
	--dark-color: #101518;
	--dark2-color: #2F2F2F;
	--green-color: #1B8184;

	--accent-color: #EA5D01;
	--accent-color2: #db5700;
	--accent-color-hover: var(--green-color);

	--error-color: #FF0000;
	--warning-color: #c9970e;
	--success-color: #128b12;

	--border-radius: 20px;
}

/*-------------START---------------*/
/*---------------------------------*/

::-webkit-input-placeholder {
	opacity: 1;
	color: var(--light-color);
}
::-moz-placeholder {
	opacity: 1;
	color: var(--light-color);
}
:-ms-input-placeholder {
	opacity: 1;
	color: var(--light-color);
}
::-ms-input-placeholder {
	opacity: 1;
	color: var(--light-color);
}
::placeholder {
	opacity: 1;
	color: var(--light-color);
}
::selection {
	background-color: var(--green-color);
	color: var(--white-color);
}

html {
	overflow-x: hidden;
}

body {
	background: var(--body-bgcolor);
	background: linear-gradient(97deg, var(--dark-color) 0%, var(--green-color) 100%);
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 400;
	font-style: normal;
	color: var(--light-color);
	scroll-behavior: smooth;
	min-width: 340px;
	overflow-x: hidden;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	line-height: 1.2;
	color: var(--white-color);
	margin: 0;
}

h1, .h1 {
	font-size: 40px;
}

h2, .h2 {
	font-size: 36px;
}

h3, .h3 {
	font-size: 32px;
}

h4, .h4 {
	font-size: 28px;
}

h5, .h5, h6, .h6 {
	font-size: 24px;
}

.txt_page h1, .txt_page .h1 { margin-bottom: 10px;}
.txt_page h2, .txt_page .h2,
.txt_page h3, .txt_page .h3,
.txt_page h4, .txt_page .h4,
.txt_page h5, .txt_page .h5,
.txt_page h6, .txt_page .h6 {
	margin-top: 20px;
	margin-bottom: 10px;
}

b, strong { font-weight: 700; }
i, em { font-style: normal; }

a {
	color: var(--white-color);
	transition: all 0.3s ease;
}

a:hover, a:active {
	color: var(--accent-color);
}

img { max-width: 100%; }
video { max-width: 100%; }

p:not(:last-child) {
	margin-bottom: 7px;
}

hr {
	border: none;
	border-top: 1px solid var(--light-color);
	text-align: center;
	height: 1px;
	margin: 15px auto;
	max-width: 90%;
}

.txt_page ol, .txt_page ol,
.txt_page ul, .txt_page ul {
	margin: 7px 0;
	padding-left: 23px;
}

.txt_page ul li {
	list-style: disc;
}

.txt_page ol li {
	list-style: decimal;
}

blockquote {
	border-left: 4px solid var(--accent-color);
	margin: 0 0 10px;
	padding: 6px 10px;
	font-style: normal;
}

.table-wrap {
	overflow-x: auto;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--light-color);
	margin-bottom: 12px;
}

tr, td {
	border: 1px solid var(--light-color);
	padding: 5px 10px;
	vertical-align: top;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 991.98px) {
	h1, .h1 {font-size: 34px;}
	h2, .h2 {font-size: 30px;}
	h3, .h3 {font-size: 26px;}
	h4, .h4 {font-size: 22px;}
	h5, .h5, h6, .h6 {font-size: 18px;}
}

@media only screen and (max-width: 574.98px) {
	h1, .h1 {font-size: 30px;}
	h2, .h2 {font-size: 26px;}
	h3, .h3 {font-size: 22px;}
	h4, .h4 {font-size: 20px;}
}

/*-------------BUTTONS-------------*/

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0 25px;
	min-width: 280px;
	background-color: var(--accent-color);
	border: 1px solid var(--accent-color);
	outline: none;
	border-radius: 25px;
	white-space: nowrap;
	color: var(--white-color);
	height: 50px;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1.1;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn > .btn__icon {
	font-size: 22px;
	line-height: 0;
}

.btn:hover, .btn:active, .button:focus {
	border-color: var(--accent-color-hover);
	background-color: var(--accent-color-hover);
	color: var(--white-color);
}

.btn.btn--outline {
	border-color: var(--white-color);
	background-color: var(--opacity-bg);
	color: var(--white-color);
}

.btn.btn--outline:hover, .btn.btn--outline:active, .btn.btn--outline:focus {
	border-color: var(--accent-color-hover);
	background-color: var(--accent-color-hover);
	color: var(--white-color);
}

/*---------Header-Main-Footer---------*/
/*------------------------------------*/

.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.wrapper > .main-content {
	flex-grow: 1;
	padding-top: 74px;
}

.home .wrapper > .main-content {
	padding-top: 0;
}

[class*="__container"] {
	position: relative;
	max-width: 1248px;
	width: 100%;
	padding-left: 24px;
	padding-right: 24px;
	margin: 0 auto;
}

[class*="__container"].no--padding {
	padding-left: 0;
	padding-right: 0;
}

[class*="__container-ff"] {
	max-width: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fancybox__container {
	position: fixed;
	max-width: inherit;
	width: inherit;
	padding-left: inherit;
	padding-right: inherit;
	margin: inherit;
	--fancybox-bg: rgba(0,22,15,0.5);
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	height: 74px;
}

.header::before {
	background-color: transparent;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	transition: all 0.3s ease;
}

.header.header--scroll::before {
	background: rgba(0,0,0,0.1);
	backdrop-filter: blur(10px);

	/*background: rgba(255,255,255,0.07);
	filter: blur(10px);*/
}

.header.open-menu::before {
	background: transparent;
}

.header__container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.header__logo,
.header__menu,
.header__buttons,
.header__mobile-nav {
	position: relative;
}

.header__logo {
	display: inline-block;
	line-height: 0;
	flex: 0 0 168px;
	z-index: 3;
	transition: all 0.3s ease;
}

.header.open-menu .header__logo {
	opacity: 0;
}

.header__logo img {
	max-width: 168px;
}

.header__menu {
	z-index: 4;
}

.header__menu-list {
	background-color: var(--opacity-bg);
	display: inline-flex;
	column-gap: 8px;
	align-items: center;
	flex-wrap: wrap;
	padding: 4px;
	border-radius: 30px;
}

.header__menu-list .menu-item {
	line-height: 1.2;
	position: relative;
}

.header__menu-list .menu-item > a {
	background-color: transparent;
	color: var(--white-color);
	padding: 0 16px;
	height: 35px;
	border-radius: 18px;
	font-size: 18px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

.header__menu-list .menu-item.current-menu-item > a {
	background-color: var(--white-color);
	color: var(--dark2-color);
	pointer-events: none;
}

.header__menu-list .menu-item:not(.current-menu-item):hover > a {
	background-color: var(--white-color);
	color: var(--dark2-color);
}

.header__mobile-logo {
	max-width: 200px;
}

.header__mobile-nav {
	position: relative;
	display: none;
}

.header__mobile-menu {
	display: none;
}

.header__mobile-burger {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	margin-right: -5px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease;
	overflow: hidden;
	z-index: 4;
}

.burger__icon {
	padding-top: 2px;
	font-size: 26px;
	line-height: 1;
	color: var(--accent-color);
}

.burger__icon::before {
	font-family: 'icons_font';
	content: '\e911';
	transition: all 0.3s ease;
}

.header__mobile-burger.active .burger__icon::before {
	content: '\e90b';
	color: var(--white-color);
}

.header__mobile-menu {
	flex-direction: column;
	gap: 40px;
	position: fixed;
	align-items: center;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--body-bgcolor);
	background: linear-gradient(97deg, var(--dark-color) 0%, var(--green-color) 100%);
	overflow: auto;
	padding: 64px 30px 35px;
	transition: all 0.3s;
	z-index: 2;
}

.header__mobile-menu.active {
	top: 0;
}

.mobile-menu__list {
	background-color: var(--opacity-bg);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 12px;
	border-radius: 25px;
	gap: 16px;
}

.mobile-menu__list .menu-item {
	position: relative;
	padding: 0;
}

.mobile-menu__list .menu-item > a {
	background-color: transparent;
	font-size: 18px;
	line-height: 1.2;
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	border-radius: 18px;
	padding: 0 16px;
}

.mobile-menu__list .menu-item.current-menu-item > a,
.mobile-menu__list .menu-item > a:hover {
	background-color: var(--white-color);
	color: var(--dark2-color);
}

/*---end mobile-menu---*/

@media only screen and (max-width: 1079.98px) {
	.wrapper > .main-content {
		padding-top: 64px;
	}
	.header {
		height: 64px;
	}
	.header__menu,
	.header__buttons {
		display: none;
	}
	.header__logo img {
		max-width: 160px;
	}
	.header__mobile-nav {
		display: block;
		position: relative;
	}
	.header__mobile-menu {
		display: flex;
	}
}

.footer {
	background-color: var(--dark-color);
	padding: 60px 0 20px;
	color: var(--light-color);
	font-size: 16px;
	line-height: 1.3;
}

.footer a {
	display: inline-block;
	color: var(--light-color);
}

.footer a:hover {
	color: var(--accent-color);
}

.footer__top,
.footer__middle {
	margin-bottom: 30px;
}

.footer__logo {
	max-width: 270px;
	overflow: hidden;
	line-height: 1;
	margin: 0 auto;
}

.footer__copy {
	text-align: center;
	color: var(--white-color);
}

.footer__copy a {
	color: var(--white-color);
}

.footer__copy a:hover {
	color: var(--accent-color);
}

.footer__middle {
	display: flex;
	gap: 30px;
	justify-content: space-between;
}

.footer__middle-left {
	max-width: 50%;
}

.footer__middle-right {
	max-width: 340px;
	width: 100%;
}

.conts-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.conts-list li {
	display: flex;
	gap: 8px;
}

.conts-list li span {
	display: inline-block;
	font-size: 22px;
	line-height: 1;
}

.footer__wtime {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.footer__wtime-row {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.soc-list {
	margin-top: 20px;
	display: flex;
	justify-content: end;
	gap: 12px;
	line-height: 1;
}

.soc-list li > a {
	background-color: transparent;
	background-size: auto 32px;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	height: 32px;
	width: 32px;
	overflow: hidden;
	text-indent: -99999px;
}

.soc-list li > a:hover {
	opacity: 0.7;
}

.soc-list li.yt > a {
	background-image: url('../img/soc-yt.svg');
	width: 44px;
}

.soc-list li.ins > a {
	background-image: url('../img/soc-insta.svg');
}

.soc-list li.fb > a {
	background-image: url('../img/soc-fb.svg');
}

.scroll-top {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
	bottom: 50px;
	right: -100%;
	color: var(--accent-color);
	line-height: 1;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	padding: 3px;
	transition: all 0.8s ease;
	overflow: hidden;
	z-index: 4;
	cursor: pointer;
}

.scroll-top:hover {
	color: var(--green-color);
}

.scroll-top.visible {
    right: 15px;
}

.scroll-top > span {
	font-size: 18px;
	line-height: 0;
}

@media only screen and (max-width: 1079.98px) {
	.footer {
		padding-top: 30px;
	}
	.footer__middle {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer__middle-left {
		max-width: 340px;
	}
	.soc-list {
		justify-content: center;
	}
	.conts-list {
		align-items: center;
	}
}

@media only screen and (max-width: 479.98px) {
	.footer__wtime {
		gap: 8px;
		align-items: center;
	}
	.footer__wtime-row {
		flex-direction: column;
		gap: 0;
	}
}

/*---------All CSS----------*/
/*--------------------------*/

.sect {
	position: relative;
	padding: 50px 0;
}

.default-sect {
	padding: 55px 0 60px;
}

.default__content-text {
	margin-top: 30px;
}

.content-404 {
	padding: 80px 0;
	text-align: center;
}

.number-404 {
	font-size: 110px !important;
	font-weight: 700;
	line-height: 0.8;
	color: var(--accent-color);
	margin-bottom: 25px;
}

.title-404 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 35px !important;
	text-transform: uppercase;
}

.title-404 span {
	display: inline-block;
}

.button-back {
	margin-top: 20px;
	text-align: center;
}

.btn__back,
.btn__404 {
	min-width: 190px;
}

.hero-sect {
	padding: 180px 0 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 140px;
	min-height: 100vh;
	overflow: hidden;
}

.hero__bg {
	background-color: #000508;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.hero__bg > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.2;
}

.hero__content {
	position: relative;
	max-width: 680px;
}

.hero__header {
	position: relative;
	z-index: 2;
}

.hero__title {
	font-size: 68px;
	line-height: 1.2;
	font-weight: 500;
}

.hero__text {
	margin-top: 30px;
	font-size: 20px;
}

.hero__buttons {
	position: relative;
	margin-top: 35px;
	z-index: 2;
}

.hero__carousel {
	overflow: hidden;
}

.hero__carousel .swiper-wrapper {
	transition-timing-function: linear;
}

.hero__carousel .swiper-slide {
	position: relative;
	width: auto;
	box-sizing: border-box;
}

.hero__card {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 25px;
	background-color: var(--opacity-bg);
	border: 1px solid var(--white-color);
	border-radius: 24px;
	height: 48px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--white-color);
}

/*--------------------------------*/

.sect-header {
	max-width: 784px;
	margin: 0 auto 40px;
	text-align: center;
}

.sheader__title {
	display: inline-block;
	padding: 10px 40px 12px;
	border: 1px solid var(--white-color);
	border-radius: 40px;
	font-size: 46px;
	line-height: 1.1;
	color: var(--white-color);
}

.sheader__desc {
	margin-top: 25px;
	font-size: 20px;
}

.sheader__desc span,
.sheader__title span {
	color: var(--accent-color);
	font-weight: 500;
}

/*--------------------------------*/

.logos-sect {
	padding: 35px 0;
}

.logos__carousel {
	overflow: hidden;
}

.logos__carousel .swiper-wrapper {
	transition-timing-function: linear;
}

.logos__carousel .swiper-slide {
	position: relative;
	width: auto;
	box-sizing: border-box;
}

.logos__card {
	max-width: 200px;
}

.about-sect {}

.about__content {
	display: flex;
	gap: 20px;
}

.about__info {
	background-color: var(--opacity-bg);
	flex: 0 0 350px;
	border-radius: var(--border-radius);
	border: 1px solid var(--white-color);
	padding: 16px 16px 18px 12px;
	overflow: hidden;
}

.services__text > ul,
.about__info > ul {
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-size: 20px;
	color: var(--white-color);
}

.services__text > ul li,
.about__info > ul li {
	position: relative;
	padding-left: 20px;

}

.services__text > ul li::before,
.about__info > ul li::before {
	position: absolute;
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background-color: var(--white-color);
	left: 7px;
	top: 12px;
	overflow: hidden;
}

.about__img {
	flex: 0 1 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--opacity-bg);
	border-radius: var(--border-radius);
	border: 1px solid var(--white-color);
	padding: 24px 20px;
	overflow: hidden;
}

.about__img-wrap {
	max-width: 420px;
	transform: scale(1);
	transition: all 0.4s ease;
}

.about__img:hover .about__img-wrap {
	transform: scale(1.05);
}

.about__counters {
	flex: 0 0 350px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

/*.counter1 { grid-area: 1 / 1 / 2 / 2; }
.counter2 { grid-area: 1 / 2 / 2 / 3; }
.counter3 { grid-area: 2 / 1 / 3 / 2; }
.counter4 { grid-area: 2 / 2 / 3 / 3; } */

.about__counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: var(--opacity-bg);
	border-radius: var(--border-radius);
	border: 1px solid var(--white-color);
	padding: 12px;
	color: var(--white-color);
	overflow: hidden;
}

.about__counter-number {
	font-size: 44px;
	line-height: 1.1;
}

.about__counter-text {
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
}

.services-sect {}

.services__info {
	display: flex;
	gap: 20px;
}

.services__info-left {
	flex: 0 1 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.services__info-right {
	flex: 0 1 45%;
}

.services__text {}

.services__btn {
	align-self: flex-start;
}

.services__carousel {
	border-radius: var(--border-radius);
	overflow: hidden;
}

.services__carousel .swiper-slide {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.services__card {
	background-color: var(--body-bgcolor);
	border-radius: var(--border-radius);
	line-height: 1;
	overflow: hidden;
}

.cta-sect {
	padding-top: 80px;
}

.cta__box {
	position: relative;
}

.cta__image {
	position: relative;
	line-height: 0;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1;
}

.cta__man {
	position: absolute;
	bottom: -1px;
	right: -40px;
	z-index: 2;
	max-width: 55%;
}

.cta__image > img,
.cta__man > img {
	pointer-events: none;
}

.cta__buttons {
	position: relative;
	z-index: 3;
	text-align: center;
	margin-top: -24px;
}

.gallery-sect {}

.gallery__carousel {
	position: relative;
	overflow: hidden;
}

.gallery__carousel .swiper-slide {
	position: relative;
	width: 100%;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	overflow: hidden;
}

.twentytwenty-overlay,
.twentytwenty-overlay:hover {
	background: none;
}

.twentytwenty-before-label::before,
.twentytwenty-after-label::before {
	background-color: rgba(20, 122, 127, 0.9);
	border-radius: 12px;
}

.process-sect {}

.process__steps {
	position: relative;
}

.process__steps::before {
	background-color: #838383;
	position: absolute;
	content: '';
	display: block;
	width: 4px;
	height: calc(100% - 25px);
	top: 0;
	left: 0;
	z-index: -1;
}

.process__step:not(:last-child) {
	margin-bottom: 50px;
}

.process__step {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding-left: 45px;
	z-index: 1;
}

.process__step::before {
	background-color: var(--white-color);
	position: absolute;
	content: '';
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	box-shadow: 0 0 40px 0px rgba(255,255,255,1);
	left: -12px;
	top: -12px;
	z-index: 0;
}

.process__left {
	flex: 0 1 50%;
	padding: 30px 0;
}

.process__right {
	flex: 0 1 440px;
}

.process__step-num {
	background-color: var(--white-color);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-bottom: 20px;
	font-size: 44px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	color: var(--dark-color);
	overflow: hidden;
}

.process__step-title {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 12px;
}

.process__step-text {
	font-size: 16px;
	line-height: 1.4;
}

.process__img {
	text-align: center;
	transform: scale(1);
	transition: all 0.4s ease;
}

.process__step:hover .process__img {
	transform: scale(1.05);
}

.process__buttons {
	position: relative;
	padding-left: 45px;
}

.process__buttons::before {
	background-color: #838383;
	position: absolute;
	display: block;
	content: '';
	width: 50px;
	height: 4px;
	top: calc(50% - 2px);
	left: 0;
	z-index: -1;
	overflow: hidden;
}

.reviews-sect {}

.reviews__carousel {
	position: relative;
	padding: 1px;
	overflow: hidden;
}

.reviews__carousel .swiper-slide {
	position: relative;
	width: calc(100% / 3 - 13px);
	margin-right: 20px;
	box-sizing: border-box;
	height: auto;
}

.reviews__card {
	background-color: var(--opacity-bg);
	padding: 20px;
	border-radius: 20px;
	border: 1px solid var(--white-color);
	overflow: hidden;
	height: 100%;
	transition: all 0.4s ease;
}

.reviews__card:hover {
	background-color: var(--white-color);
}

.reviews__card-header {
	display: flex;
	gap: 12px;
	justify-content: space-between;
}

.reviews__card-photo {
	position: relative;
	background-color: var(--light-color);
	flex: 0 0 50px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;
}

.reviews__card-photo > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.reviews__card-icon {
	flex: 0 0 24px;
}

.reviews__card-head {
	margin-right: auto;
}

.reviews__card-name {
	font-size: 22px;
	font-weight: 400;
	color: var(--white-color);
	transition: all 0.4s ease;
}

.reviews__card-date {
	margin-top: 4px;
	font-size: 16px;
	color: var(--light-color);
	transition: all 0.4s ease;
}

.reviews__card:hover .reviews__card-name {
	color: var(--dark-color);
}

.reviews__card:hover .reviews__card-date {
	color: var(--dark2-color);
}

.reviews__card-rating {
	margin-top: 12px;
	margin-left: -3px;
	max-width: 118px;
	line-height: 0;
}

.reviews__card-body {
	margin-top: 6px;
	font-size: 16px;
	color: var(--light-color);
	line-height: 1.3;
	transition: all 0.4s ease;
}

.reviews__card:hover .reviews__card-body {
	color: var(--dark2-color);
}

.gallery__navigation,
.reviews__navigation {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.gallery__pagination,
.reviews__pagination {
	display: inline-flex;
	gap: 6px;
	justify-content: center;
	align-items: center;
	width: auto !important;
	min-width: 240px;
}

.gallery__pagination .swiper-pagination-bullet,
.reviews__pagination .swiper-pagination-bullet {
	background-color: #838383;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 0 !important;
	opacity: 1;
	overflow: hidden;
	transition: all 0.3s ease;
}

.gallery__pagination .swiper-pagination-bullet:hover,
.reviews__pagination .swiper-pagination-bullet:hover {
	background-color: var(--light-color);
}

.gallery__pagination span.swiper-pagination-bullet-active:hover,
.gallery__pagination span.swiper-pagination-bullet-active,
.reviews__pagination span.swiper-pagination-bullet-active:hover,
.reviews__pagination span.swiper-pagination-bullet-active {
	background-color: var(--white-color);
	width: 20px;
	opacity: 1;
}

.gallery__btn-prev,
.gallery__btn-next,
.reviews__btn-prev,
.reviews__btn-next {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	border: 2px solid var(--white-color);
	line-height: 0;
	font-size: 18px;
	color: var(--white-color);
	text-align: center;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
}

.gallery__btn-prev:hover,
.gallery__btn-next:hover,
.reviews__btn-prev:hover,
.reviews__btn-next:hover {
	border-color: var(--light-color);
	color: var(--light-color);
}

.contacts-sect {}

.contacts__content {
	display: flex;
	gap: 20px;
}

.contacts__col {
	flex: 0 1 calc(100%/2 - 10px);
}

.contacts__form-wrap {
	position: relative;
	background-color: var(--opacity-bg);
	padding: 18px 20px 20px;
	border-radius: 20px;
	border: 1px solid var(--white-color);
	overflow: hidden;
}

.contacts__map {
	position: relative;
	background-color: var(--light-color);
	line-height: 0;
	border-radius: 20px;
	overflow: hidden;
	height: 100%;
}

.faq-sect {
	padding-bottom: 80px;
}

.services__toggles,
.faq__toggles {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.block__toggle {
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid transparent;
	padding: 18px 20px 0;
	transition: all 0.3s ease;
	overflow: hidden;
}

.block__toggle.t_active {
	background-color: var(--opacity-bg);
	border-color: var(--white-color);
}

.toggle__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 14px;
	cursor: pointer;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--white-color);
}

.toggle__header-title {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
	color: var(--white-color);
}

.toggle__header-btn {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	border: 2px solid var(--white-color);
	line-height: 0;
	font-size: 16px;
	color: var(--white-color);
	text-align: center;
	transition: all 0.3s ease;
	cursor: pointer;
	overflow: hidden;
}

.toggle__header:hover .toggle__header-btn {
	border-color: var(--light-color);
	color: var(--light-color);
}

.toggle__header-btn.v_active {
	transform: rotateZ(180deg);
}

.toggle__content {
	max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
	font-size: 20px;
}

.faq__buttons {
	margin-top: 40px;
	text-align: center;
}

/*-----------Circle Anime------------*/

.left-circle {}

.left-circle::before {
	background: var(--body-bgcolor);
	position: absolute;
	content: '';
	display: block;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	left: -200px;
	top: 0;
	filter: blur(500px);
	opacity: 0.6;
	z-index: -1;
	animation: anima-1 9s linear infinite;
}

.right-circle {}

.right-circle::before {
	background: var(--dark-color);
	position: absolute;
	content: '';
	display: block;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	right: -200px;
	top: 0;
	filter: blur(500px);
	opacity: 0.5;
	z-index: -1;
	animation: anima-2 9s linear infinite;
    animation-delay: .25s;
}


@keyframes anima-1 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    25% {
        transform: scale(1.04) translate(15%, 15%);
    }
    50% {
        transform: scale(1.08) translate(0, 30%);
    }
    75% {
        transform: scale(1.04) translate(-15%, 15%);
    }
    100% {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes anima-2 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    25% {
        transform: scale(1.04) translate(15%, 15%);
    }
    50% {
        transform: scale(1.08) translate(0, 30%);
    }
    75% {
        transform: scale(1.04) translate(-15%, 15%);
    }
    100% {
        transform: scale(1) translate(0, 0);
    }
}

/*-------------------------------------------*/
/*------------------MEDIA--------------------*/

@media only screen and (max-width: 1199.98px) {
	[data-aos] {
		opacity: 1 !important;
		transform: none !important;
	}
	.hero__content {
		max-width: 590px;
	}
	.hero__title {
		font-size: 62px;
	}
	.hero__text {
		font-size: 18px;
	}
	.sect-header {
		margin-bottom: 30px;
	}
	.sheader__title {
		font-size: 40px;
	}
	.sheader__desc {
		margin-top: 20px;
		font-size: 18px;
	}
	.cta__man {
		right: -15px;
	}
	.toggle__header-title {
		font-size: 26px;
	}
	.toggle__content {
		font-size: 18px;
	}
	.toggle__header-btn {
		width: 32px;
		height: 32px;
		font-size: 13px;
	}
	.reviews__card-name {
		font-size: 20px;
	}
	.gallery__btn-prev,
	.gallery__btn-next,
	.reviews__btn-prev,
	.reviews__btn-next {
		width: 32px;
		height: 32px;
		font-size: 15px;
	}
	.services__text > ul,
	.about__info > ul {
		font-size: 18px;
		gap: 10px;
	}
	.about__info > ul li::before,
	.services__text > ul li::before {
		top: 10px;
	}
	.process__step-num {
		width: 50px;
		height: 50px;
		font-size: 36px;
		line-height: 36px;
	}
	.process__step-title {
		font-size: 28px;
	}
}

@media only screen and (max-width: 1079.98px) {
	.reviews__carousel .swiper-slide {
		width: calc(100% / 2 - 10px);
	}
	.about__img {
		display: none;
	}
	.about__info,
	.about__counters {
		flex: 0 1 50%;
	}
	.cta-sect {
		padding-top: 50px;
	}
}

@media only screen and (max-width: 991.98px) {
	.sheader__title {
		font-size: 36px;
	}
	.hero__title {
		font-size: 56px;
	}
	.about__counter-number {
		font-size: 40px;
	}
	.services__info {
		flex-direction: column;
	}
	.services__info-left,
	.services__info-right {
		flex: 0 1 100%;
		width: 100%;
	}
	.process__left {
  		flex: 0 1 60%;
		padding: 25px 0;
	}
	.process__buttons,
	.process__step {
		padding-left: 30px;
	}

}

@media only screen and (max-width: 859.98px) {
	.contacts__content {
		flex-direction: column;
	}
	.contacts__col {
		flex: 0 1 100%;
		width: 100%;
	}
	.contacts__map {
		height: 420px;
	}
}

@media only screen and (max-width: 767.98px) {
	.hero-sect {
		padding-top: 140px;
		min-height: 650px;
	}
	.hero__content {
		max-width: 520px;
	}
	.hero__title {
		font-size: 48px;
	}
	.hero__text {
		margin-top: 20px;
		font-size: 16px;
	}
	.hero__buttons {
		margin-top: 25px;
	}
	.sheader__title {
		font-size: 30px;
	}
	.services__text > ul,
	.about__info > ul {
		font-size: 16px;
		gap: 8px;
	}
	.toggle__content,
	.sheader__desc {
		font-size: 16px;
	}
	.toggle__header-title {
		font-size: 22px;
	}
	.toggle__header-btn {
		width: 26px;
		height: 26px;
		font-size: 11px;
	}
	.reviews__carousel .swiper-slide {
		width: 100%;
	}
	.gallery__pagination,
	.reviews__pagination {
		display: none;
	}
	.about__content {
		flex-direction: column;
	}
	.about__info > ul li::before,
	.services__text > ul li::before {
		top: 8px;
	}
	.process__step {
		position: relative;
		flex-direction: column;
  		align-items: inherit;
		justify-content: inherit;
	}
	.process__step:not(:last-child) {
		margin-bottom: 40px;
	}
	.process__left,
	.process__right {
		flex: 0 1 100%;
		width: 100%;
	}
	.process__left {
		padding-bottom: 0;
	}
	.process__img img {
		max-width: 80%;
	}
	.process__buttons, .process__step {
		padding-left: 20px;
	}
}

@media only screen and (max-width: 599.98px) {
	.sheader__title {
		font-size: 36px;
	}
	.hero__title {
		font-size: 38px;
	}
	.block__toggle {
		padding: 17px 12px 0;
	}
	.reviews__card {
		padding: 17px 12px;
	}
	.contacts__form-wrap {
		padding: 17px 12px 18px;
	}
}

@media only screen and (max-width: 479.98px) {
	.about__counter-number,
	.hero__title {
		font-size: 36px;
	}
	.services__btn {
		align-self: inherit;
	}
}